/* Your component's CSS file (e.g., app.component.css) */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0e0d0d; /* Change this color to your desired background color */
}

.maintenanceMain {
  position: absolute;
  top:100px
}

.flat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .card-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
  }
  
  .flat-info {
    margin: 5px 0;
  }
  /* Your component's CSS file (e.g., app.component.css) */

/* Style for the "List of Flats" heading */
h2 {
    text-align: center;
    color: #39ff14;
    margin-bottom: 20px;
    font-size: 24px;
  }

h4 {
    text-align: center;
    color: #39ff14;
}
  
  /* Style for the form container */
  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for each input group */
  .number, .name {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  
  /* Style for labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Style for input fields */
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Style for filter buttons */
  button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for filter buttons */
  button:hover {
    background-color: #45a049;
  }

  .cardshere {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    max-width:1200px;
    overflow:scroll;
  }
  
  